:root{
  --verde-concluido: #026014;
  --fundo-padrao: #e2e8f0;
  --vermelho-erro: red;
}

.ocultar{
  display: none;
}

#section-tarefas{
	 display: flex;
  justify-content: space-between;
}

.card{
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 15px auto;
  transition: 0.2s ease-in-out;
  background-color: var(--fundo-padrao);
}
.card:hover{
  transform: translateY(-5px);
  transition: 0.2s ease-in-out;
  box-shadow: 0px 2px 10px 0px black;
}

.div-tarefas{
  text-align: center;
  margin: 5px 15px;
  width: 50%
}

ul{
  text-align: left;
  list-style-type: none;
  list-style-position: inside;
}

li{
  margin: 5px auto;
  font-size: 1.1rem;
}

#btn-limpar-lista{
  margin: 5px auto;
  padding: 5px;
}

button, ul label, input[type="checkbox"]{
  cursor: pointer;
}

.tarefa-concluida{
  color: var(--verde-concluido);
  text-decoration: line-through;
}

.erro{
  color: var(--vermelho-erro);
  font-weight: bold;
}
.sucesso{
  color: var(--verde-concluido);
  font-weight: bold;
}
